{
  "openapi": "3.1.0",
  "info": {
    "title": "Navigapi API",
    "description": "Mock API documentation for Navigapi — API Security for Logistics, Transportation, and Supply Chain Technology.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.navigapi.io",
      "description": "Production mock API server"
    }
  ],
  "paths": {
    "/what/": {
      "get": {
        "summary": "What",
        "description": "Describes what Navigapi focuses on — securing the flow of freight data, quotes, and billing logic.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/why/": {
      "get": {
        "summary": "Why",
        "description": "Explains why API security is critical for logistics and transportation platforms and how Navigapi identifies logic risks.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/who/": {
      "get": {
        "summary": "Who",
        "description": "Introduces the founder and Navigapi’s background in logistics, transportation, and API pentesting.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/when/": {
      "get": {
        "summary": "When",
        "description": "Outlines when API security matters most — during development, updates, or integrations within supply chain systems.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/where/": {
      "get": {
        "summary": "Where",
        "description": "Defines Navigapi’s testing scope — remote, production-safe, and controlled environments across logistics and mobility systems.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/how/": {
      "get": {
        "summary": "How",
        "description": "Details Navigapi’s manual, precision-based testing approach for identifying logic flaws and vulnerabilities in APIs that move freight and people.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/about_navigapi/": {
      "get": {
        "summary": "About Navigapi",
        "description": "Explains Navigapi’s mission and its logistics-first approach to API security, combining real operations knowledge with modern pentesting.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/logistics_experience/": {
      "get": {
        "summary": "Logistics Experience",
        "description": "Shows Navigapi’s background across parcel, LTL, FTL, brokerage, and freight forwarding operations.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/api_pentest/": {
      "get": {
        "summary": "API Pentest Services",
        "description": "Outlines Navigapi’s different API security testing services including bug bounty-style testing, recon, mobile testing, and full pentests.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/methodology/": {
      "get": {
        "summary": "Testing Methodology",
        "description": "Explains Navigapi’s step-by-step approach — recon, instrumentation, traversal, analysis, prioritization, and remediation.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/socials/": {
      "get": {
        "summary": "Social Links",
        "description": "Provides Navigapi’s social and contact information for connecting via LinkedIn, Bugcrowd, or email.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/contact/": {
    "post": {
    "summary": "Contact Navigapi",
    "description": "Submit a contact form to Navigapi via Web3Forms. Make sure to fill in your name, email, and message.",
    "tags": ["Contact"],
    "requestBody": {
      "required": true,
      "content": {
        "application/x-www-form-urlencoded": {
          "schema": {
            "type": "object",
            "required": ["access_key", "name", "email", "message"],
            "properties": {
              "access_key": {
                "type": "string",
                "default": "5fa879df-7cc3-48a2-aa9a-0d8bacc7b070",
                "description": "Required public key for Navigapi’s Web3Forms integration. This value must be included exactly as shown."
              },
              "name": {
                "type": "string",
                "example": "John Doe"
              },
              "email": {
                "type": "string",
                "example": "johndoe@example.com"
              },
              "message": {
                "type": "string",
                "example": "Hello! I'm interested in learning more about Navigapi."
              }
            }
          }
        }
      }
    },
    "responses": {
      "301": {
        "description": "Redirects to email success page"
      },
      "400": {
        "description": "Missing or invalid fields"
       }
     }
   }
 }
},
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base"
}
